<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comabem">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Teste do Aplicativo Coma Bem"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComaBem">
        <activity
            android:name=".ListarActivity"
            android:configChanges="orientation"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".CadastrarActivity"
            android:configChanges="orientation"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".TelaPrincipalActivity"
            android:configChanges="orientation"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>